@model (IEnumerable<Rating> Ratings, int Id)

@if (Model.Ratings != null && Model.Ratings.Count() > 0)
{
    <div id="updateDiv">
        <div class="blog-details-desc wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
            <p>Не согласны с рейтингом? Укажите вашего фаворита!</p>
            <div class="blog-details-shape">
                <img src="~/assets/images/resource/arrow.png" alt="icon" class="image-survey">
            </div>
        </div>
        <div class="chart mt-3">
            @foreach (Rating item in Model.Ratings)
            {
                <a class="bar" href="~/Home/GetSurveyFill?id=@Model.Id" data-ajax-update="#updateDiv" data-ajax="true" rel="nofollow">
                    <span class="title">@item.Name</span>
                    <div class="trophy"></div>
                </a>
            }
        </div>
    </div>
}

