@model (string link, string path)
@{
	ViewData["Title"] = "Успешно!";
}

<div class="container">
	<div class="row align-items-center">
		<div class="col-lg-6">
			<div class="slider-content mt-3">
				<h5>У С П Е Ш Н О</h5>
				<h1>Спасибо!</h1>
				<h1>Запись ушла</h1>
				<h1>на модерацию</h1>
				<p>
					Как только Ваша запись будет одобрена, вы сможете просмотреть
					ее по следующей ссылке: <br />
					<a class="link" href="@Url.Action(action: "GetPost", controller: "Home",
								values: new { path = Model.path }, protocol: "https")">
						@Model.link
					</a>
				</p>
				<div class="slider-button mb-5">
					<a href="/">Главная <i class="fas fa-arrow-right"></i></a>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="slider-thumb">
				<img src="~/assets/images/resource/post-successful.png" alt="thumb">
			</div>
		</div>
		
	</div>
</div>