<div class="input-group mt-3">
    <input type="text" class="form-control" form="pageform" name="options.search" value="@Model.Options.Search">
    <div class="input-group-append">
        <button form="pageform" type="submit" class="btn btn-outline-secondary" style="height:60px">Поиск</button>
    </div>
</div>