<div class="search-popup">
    <button class="close-search style-two"><i class="fas fa-times"></i></button>
    <button class="close-search"><i class="fas fa-arrow-up"></i></button>
    <form>
        <div class="form-group">
            <input form="pageform" id="search_from" type="search" placeholder="Ваш запрос..." name="search" value="@Model?.Options?.Search">
            <button form="pageform" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </form>
</div>