@{
    ViewData["Title"] = "Страница не найдена";
}

<div class="pagenotfound-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcumb-container text-center">
                    <div class="breadcumb-title mb-3">
                        <h1>Страница не найдена</h1>
                    </div>
                    <p>Возможно вы искали то, чего у нас нет?</p>
                    <p>Создайте <a href="/create">запись</a> самостоятельно!</p>
                    <div class="slider-button">
                        <a href="/">Главная <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="breadcumb-all-shape">
            <div class="breadcumb-shape">
                <img src="assets/images/breadcumb/banner-shape.png" alt="shape">
            </div>
            <div class="breadcumb-shape1">
                <img src="assets/images/breadcumb/banner-shape1.png" alt="shape">
            </div>
            <div class="breadcumb-shape2">
                <img src="assets/images/breadcumb/banner-shape2.png" alt="shape">
            </div>
            <div class="breadcumb-shape3">
                <img src="assets/images/breadcumb/banner-shape3.png" alt="shape">
            </div>
            <div class="breadcumb-shape4">
                <img src="assets/images/breadcumb/banner-shape4.png" alt="shape">
            </div>
        </div>
    </div>
</div>