@if (!string.IsNullOrEmpty(Message))
{
    var statusMessageClass = Message.StartsWith("Error") ? "danger" : "success";
    <div class="alert bg-light alert-dismissible fade show text-@statusMessageClass" role="alert">
        @((MarkupString)Message)
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@code {
    [Parameter]
    public string? Message { get; set; }
}
