<div class="case-star-icon" id="star-rating">
    <p><i class="bi bi-star@(Model <= 0.1 ? "" : Model <= 0.8 ? "-half" : "-fill")"></i></p>
    <p><i class="bi bi-star@(Model <= 1.1 ? "" : Model <= 1.8 ? "-half" : "-fill")"></i></p>
    <p><i class="bi bi-star@(Model <= 2.1 ? "" : Model <= 2.8 ? "-half" : "-fill")"></i></p>
    <p><i class="bi bi-star@(Model <= 3.1 ? "" : Model <= 3.8 ? "-half" : "-fill")"></i></p>
    <p>
        <i class="bi bi-star@(Model <= 4.1 ? "" : Model <= 4.8 ? "-half" : "-fill")"></i>
        @if (Model > 0)
        {
            <span>(@Model)</span>
        }
    </p>
</div>